@(artikel: Form[CreateArtikelForm])(implicit request: MessagesRequestHeader)

@import helper._

@request.flash.get("success").map { key =>
   @request.messages(key)
}

@main("Artikelen") {
  @form(routes.ArtikelenController.addArtikel()) {
		@inputText(artikel("ean"))
        @inputText(artikel("omschrijving"))
        @select(artikel("ag"), List(("Vleeswaren", "Vleeswaren"),("Zeep", "Zeep"), ("Frisdrank", "Frisdrank")))
        @inputText(artikel("prijs"))
		@CSRF.formField

		<div class="buttons">
			<input type="submit" value="Add Artikel"/>
		</div>
	}


    <br/>
    <a href="@routes.ArtikelenController.artikelenOverzicht">overzicht</a>
    <br/>
    <a href="@routes.ArtikelenController.reset">reset</a>
    <br/>
    <a href="@routes.KassaController.kassa()">kassa</a>

}
